<h1>Choose your city from the map</h1>
<br>
<p>Feature coming soon.</p>
<div class='main_container'>
	<div id='map'>
		<iframe width='100%' height='400px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/panicbus.h9kn5bph/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
	</div>
</div>