<h1>This is the welcome page using the Wifly Controller</h1>

<h3>Search for an airport</h3>
<form>
  <input type="text" name="" value="Type your airport" size="24" onFocus=""/>
  <button type="button">Search!</button></a>
</form>


<h2>Want to contribute?</h2>
<h3><%= link_to "Add an airport to the database", new_airport_path %></h3>

<p><a href="/about">About</a>
