 <h3>Search partial via the Airports controller</h3>

 <ul>
    <% @searched_airports.each do |airport| %>
      <li><%= link_to "#{airport.city} (#{airport.code})", airport %></li>

    <% end %>
  </ul>