<!-- Search partial via the Airports controller -->
<ul>
  <% @searched_airports.each do |airport| %>
    <li id="airport_list"><%= link_to "#{airport.city} (#{airport.code})", airport %></li>

  <% end %>
</ul>



