<!-- search results lister partial -->
<ul>
  <% @searched_airports.each do |airport| %>
    <li id="airport_list"><%= link_to "#{airport.city}, #{airport.country} (#{airport.code})", airport %></li>

  <% end %>
</ul>



