<h2>Create a new airport</h2>

<%= render "form" %>
<!--
<form method="post", action="/airports/create">
  <input type="text" name="airport_city" placeholder="City"/></br>
  <input type="text" name="airport_country" placeholder="Country"/></br>
  <input type="text" name="airport_code" placeholder="Three-letter code"/></br>
  <input type="text" name="airport_name" placeholder="Airport Name"/></br>
  <input type="text" name="airport_details" placeholder="WiFi details"/></br>
  <input type="Submit">
</form>
 -->