<div>
  <img id="not_found" style="width: 400px; padding: 20px" src="http://mindspower.com/wordpress/wp-content/uploads/2010/08/clouds.jpg">
  <p style="font-size: 25px">That aiport wasn't found.</p>
  <p><a href="/">Please search again.</a></p>
</div>