
<h1 id="title">WiFly</h1>
<h2>Does your airport have available wifi?</h2>
<h3>Search for your airport below and find out</h3>

<div id="search">
  <!-- brings in the search form -->
    <%= render :partial => 'airports/search' %><br />

    <p><%= link_to "Submit an airport", new_airport_path %></p>

  </div>

