<img class="mercator" src="assets/mercator.png">
<div class="header">
	<img src="assets/wifi.png" />
	<h1 id="title">WiFly</h1>
</div>
<h3>Does your airport have available public WiFi?</h3>
<h4>Search below and find out</h4>

<div id="search">
  <!-- brings in the search form -->
    <%= render :partial => 'airports/search' %>
      <h4>Contribut to the WiFly project by filling a need:</h4>
      <h4 id="submit_link"><%= link_to "Submit an airport!", new_airport_path %></h4>
</div>


